* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  background-color: #fffcf2;
}

#header {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0 2em;
  text-decoration: none;
  color:darkslategrey;
}

.board-lists-container {
  display: flex;
  flex-direction: row;
}

/* .list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  min-width: 15em;
  margin: 1em;
  border: 1px solid red;
} */

/* .list-title {
  font-size: 36px;
} */

.list-container-content {
  margin: 0.5em;
  /* border: 1px solid purple; */
}

/* .taskCard {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: center;
  width: 100%;
  border: 1px solid green;
} */

.taskCard-draggable {
  min-width: 13em;
  /* border: 1px solid orange; */
}

.taskCard-modal-title {
  font-weight: bold;
  background-color: gainsboro;
  font-size: 1.5em;
  padding: 5px;
  border-style: hidden;
}

.taskCard-modal-description {
  font-size: 1em;
  padding: 5px;
  border-style: hidden;
}

.editable:focus {
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color: gainsboro;
}
