* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0 2em;
  text-decoration: none;
  color:darkslategrey;
}

.board-lists-container {
  display: flex;
  flex-direction: row;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  min-width: 15em;
  margin: 1em;
  border: 1px solid red;
}

.list-container-content {
  margin: 0.5em;
  border: 1px solid purple;
}

.taskCard {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: center;
  width: 100%;
  border: 1px solid green;
}

.taskCard-draggable {
  min-width: 13em;
  border: 1px solid orange;
}

.editable,
.taskCard-modal-item {
  margin: 0;
}